# Compiled class files
*.class

# Log files
*.log

# Gradle
.gradle/
build/

# VSCode
.vscode/
bin

# IntelliJ IDEA
.idea/
out/

# Eclipse
.settings
.classpath
.project

# Nix
result/

# Project runtime files
config.json
