AnchorPane {
    -fx-background-color: #2d2d2d;
}

.label {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #2d2d2d;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #3d3d3d;
}

.text-field {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: #3d3d3d;
}

.combo-box .list-cell {
    -fx-text-fill: #ffffff;
}

.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
}

.combo-box .combo-box-popup .list-cell:selected {
    -fx-background-color: teal;
    -fx-text-fill: white;
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-background-color: #4d4d4d;
    -fx-text-fill: white;
}

.color-picker {
    -fx-background-color: #3d3d3d;
}
