AnchorPane {
    -fx-background-color: #2d2d2d;
}

.label {
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #2d2d2d;
    -fx-border-color: #ffffff;
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #3d3d3d;
}

.text-field {
    -fx-background-color: #3d3d3d;
    -fx-text-fill: white;
}

.combo-box {
    -fx-background-color: #3d3d3d;
}

.combo-box .list-cell {
    -fx-text-fill: #ffffff;
}

.spinner {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
    -fx-body-color: #4d4d4d;
    -fx-background-color: #4d4d4d;
}

.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: #ffffff;
}

.check-box {
    -fx-text-fill: white;
}

.color-picker {
    -fx-background-color: #3d3d3d;
}
